@import './root.css';
@import './header.css';
@import './footer.css';
@import './article-show.css';
@import './public.css';
@import './category.css';
@import './container.css';
@import './form.css';
@import './profile.css';



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}